@import "mixins-vars-fonts";

.alert {
  background-color: #388e3c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: fit-content;
  border-radius: 6px;
  padding: 8px 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  position: fixed;
  left: 12%;
  bottom: 5px;
  transform: translate(-50%, -50%);
  transition: 0.3s ease-in-out;
  z-index: 10000;
  opacity: 0;
  &.opened {
    opacity: 1;
  }
}
